/* colors */
.crimson {
    background-color: crimson;
}

.coral {
    background-color: coral;
}

.indi_blur {
    background-color: rgb(204, 132, 255);
}

.indigo {
    background-color: indigo;
}

.chartreuse {
    background-color: chartreuse;
}

