/* colors */
.crimson {
    background-color: crimson;
}

.coral {
    background-color: coral;
}

.coral {
    background-color: chartreuse;
}

.coral {
    background-color: deeppink;
}